__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.env

*.db
*.sqlite3

build/
dist/
*.egg-info/
.eggs/

*.log

.vscode/
.idea/

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.pyre/
.ruff_cache/

.ipynb_checkpoints/


*.tmp
*.temp